@font-face {
  font-family: "font5f4170aeb98cf7d22524bbdccf50fb73";

  src: url("https://nomail.com.ua/files/eot/5f4170aeb98cf7d22524bbdccf50fb73.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/5f4170aeb98cf7d22524bbdccf50fb73.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/5f4170aeb98cf7d22524bbdccf50fb73.woff2") format("woff2");
}

@font-face {
  font-family: "Miso-Bold";
  src: local("Miso-Bold"), url("https://nomail.com.ua/files/woff/5f4170aeb98cf7d22524bbdccf50fb73.woff") format("woff");
}

@font-face {
  font-family: "font9f3e5f399c91e65d1f10072955705898";

  src: url("https://nomail.com.ua/files/eot/9f3e5f399c91e65d1f10072955705898.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/9f3e5f399c91e65d1f10072955705898.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/9f3e5f399c91e65d1f10072955705898.woff2") format("woff2");
}

@font-face {
  font-family: "Miso";
  src: local("Miso"), url("https://nomail.com.ua/files/woff/9f3e5f399c91e65d1f10072955705898.woff") format("woff");
}

@font-face {
  font-family: "fontd708848509e926f56e21e6a2595c23ef";

  src: url("https://nomail.com.ua/files/eot/d708848509e926f56e21e6a2595c23ef.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/d708848509e926f56e21e6a2595c23ef.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/d708848509e926f56e21e6a2595c23ef.woff2") format("woff2");
}


